{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Востребованность</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
{% for nav in navigation %}

<header>
    <div class="name">{{ nav.title|safe }}</div>
    <img class="logo" src="{{ nav.logo_field.url }}">
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1000px">
            <nav>
                <ul>
                    <li><a href="/">{{ nav.first_menu }}</a></li>
                    <li><a href={% url 'demend' %}>{{ nav.second_menu }}</a></li>
                    <li><a href={% url 'geography' %}>{{ nav.thierd_menu }}</a></li>
                    <li><a href={% url 'skills' %}>{{ nav.fourth_menu }}</a></li>
                    <li><a href={% url 'lastVacancy' %}>{{ nav.fifth_menu }}</a></li>
                </ul>
                <p class="nav_text_foot">{{ navigator.author|safe }}</p>
            </nav>
        </div>
        {% endfor %}
         <div class="home_text" style="margin-top: 5%; margin-left: 12%">
           {% for demand in demand_info %}
            <img class="demand_graph_1" src="{{ demand.photo1.url }}"/>
            <img class="demand_graph_2" src="{{ demand.photo2.url }}"/>
            <div class="tables">
            {{ demand.content|safe }}
            </div>
        </div>
    </div>
   {% endfor %}
</main>
{% for navigator in navigation %}
<footer>
    <div class="foot">{{ navigator.author}}</div>
</footer>
 {% endfor %}

</body>
</html>